@import './variables';
@import './fonts';
@import './general-styles';

.screen-wrapper {
  flex: 1;
  display: grid;
  place-content: center;

  &--bg {
    &--cloudy {
      background: $color-cloudy;
    }

    &--normal {
      background: $color-normal;
    }
  }
}

.screen {
  height: 824px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__header {
    font-weight: normal;
    font-size: 30px;

    &--black {
      color: $color-black;
    }
  }

  &__date {
    color: $color-gray;
    font-size: 18px;
    margin-top: 5px;
  }

  &__cities {
    margin: 20px 0 0 0;
  }

  &__city {
    margin: 20px 0;
  
    &-name {
      font-size: 30px;
      position: relative;
      left: -1px;
    }
  
    &-temperature {
      font-size: 40px;
      padding-right: 10px;
    }
  
    &-time {
      font-size: .9em;
      color: $color-gray;
    }
  
    &-info {
      display: flex;
      justify-content: space-between;
      color: $color-secondary;
      margin-top: 30px;
    }
  
    &-temperature-range {
      color: $color-gray;
      font-size: 20px;
    }

    &-weather-condition {
      color: $color-gray;
    }
  }

  &__title {
    font-weight: normal;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    margin: 20px 0 0 0;
    font-size: 3em;
    width: 1.5em;
    min-height: 1.5em;
  }

  &__add-btn {
    margin-top: 20px;
    align-self: flex-end;
    display: grid;
    place-content: center;
    font-size: 30px;
    width: 75px;
    height: 75px;
  }

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  &__temperature {
    margin-top: 15px;
    font-size: 40px;
  }

  &__weather-type {
    font-size: 20px;
    margin-bottom: 40px;
  }

  &__image {
    width: 160px;
  }
}

.city-info-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 25px 20px;
  margin-bottom: 50px;

  &__grid-item-wrapper {
    flex: 1 0 44%;
  }

  &__grid-item {
    flex: 1 0 44%;
    min-height: 100px;

    &:first-child {
      margin-right: 0px;
    }

    &--small-margin {
      margin-bottom: 15px;
    }

    &--no-margin {
      margin: 0;
    }

    &--wide {
      flex: 0 0 100%;
      min-height: 120px;
    }
  }

  &__widget-description {
    color: $color-gray;
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__content-wrapper {
    font-size: 30px;

    &--margin-bottom {
      margin-bottom: 12px;
    }
  }
  
  &__widget-additional {
    font-size: 15px;
  }
}

.city-info-grid .city-info-grid__grid-item-wrapper .city-info-grid__grid-item-item {
  margin-right: 0px;
}

.screen-nav-wrapper {
  position: relative;
  height: 823px;
  width: 411px;

  @media screen and (max-width: 411px) {
    width: 100vw;
  }
}

.navigation {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid $color-gray;
  background: rgba(0, 0, 0, .08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 2em;

  @media screen and (max-device-width: 512px) {
    position: fixed;
  }

  &__pages {
    display: flex;
  }

  &__circle {
    font-size: 1.5em;
    color: $color-dark-gray;
    width: 20px;
    margin: 0 5px;
    display: grid;
    place-content: center;

    &--active {
      color: $color-primary;
    }
  }

  &__cities-link-wrapper {
    width: 42px;
    height: 42px;
    display: grid;
    place-content: center;
  }

  &__smaller-icon {
    font-size: 25px;
  }
}

.settings {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 358px;
  background: $color-gray;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  &__item {
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 20px;
      line-height: 24px;
    }
  }
  
  &__toggle-icon {
    cursor: pointer;
    font-size: 2em;
    
    &--on {
      color: $color-blue;
    }
  
    &--off {
      color: $color-dark-gray;
    }
  }
}

.city-list {
  align-self: flex-start !important;
  display: flex;
  flex-direction: column;
}

.empty-city-list-container {
  padding: 60px 24px 24px 24px;
  display: flex;
  flex-direction: column;

  &__text {
    font-size: 30px;
    text-align: justify;
    padding-right: 5px;
  }

  & + button {
    margin-right: 24px;
  }
}

.close-settings-modal-btn {
  top: 210px;
  right: 8px;
  color: $color-black;
  z-index: 9999;

  @media screen and (min-width: 410px) {
    right: 14px;
  }
}

.close-add-city-btn {
  top: 235px;
  right: 14px;
  z-index: 10000;
}

.add-city, .select-api-source {
  margin-top: calc(50vh - 50%);
  z-index: 10000;
  padding: 1.7em;
}

.close-city-list-btn {
  top: -5px;
  z-index: 9999;
}

.add-city-form, .select-api-source-form {
  display: flex;
  flex-direction: column;
  z-index: 9999;

  .input-wrapper {
    position: relative;

    input[type="text"] {
      display: block;
      width: 100%;
      background: linear-gradient(180deg, #DBDBDB 0%, rgba(228, 228, 228, 0.96) 100%);
      border-radius: 10px;
      border: 0;
      padding: 0.8em 2em 0.8em 2.6em;
      font-size: 0.95rem;
  
      &:focus {
        outline: none;
      }
    }

    .icon-wrapper {
      position: absolute;
      top: 8px;
      left: 5px;

      i {
        font-size: 20px;
      }
    }
  }

  button {
    width: 100%;
    background: green;
    margin-top: 50px;
    padding: 0.3em 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.6rem;
  }
}

.city-info {
  padding: 24px 24px 40px 24px;
}

@keyframes change-city {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.change-animate {
  animation-name: change-city;
  animation-duration: 0.4s;
  animation-direction: forwards;
}